[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = git@github.com:jmiahjones/hugo-refresh.git
[submodule "public"]
	path = public
	url = git@github.com:jmiahjones/jmiahjones.github.io.git
